.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  font-family: 'Circularstd book', sans-serif;
  color: #0a1f44;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

a {
  font-family: Circularstd, sans-serif;
  color: #5b3acc;
  text-decoration: underline;
}

.faq-question-wrap {
  margin-bottom: 35px;
}

.slider-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 80px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(21, 28, 52, 0.06);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #fff;
  text-decoration: none;
}

.slider-left:hover {
  padding-right: 20px;
  background-color: rgba(21, 28, 52, 0.15);
}

.tab-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 140px;
  margin-right: 8px;
  margin-left: 8px;
  padding: 15px 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #7540ee;
  border-radius: 500px;
  background-color: transparent;
  color: #7540ee;
  text-decoration: none;
}

.tab-button.w--current {
  background-color: #7540ee;
  color: #fff;
}

.pricing-card {
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 35px 0 #ebecf0;
}

.slides {
  width: 100%;
}

.standard-tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.333333333333336%;
  padding-bottom: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  color: rgba(32, 53, 90, 0.6);
  font-size: 15px;
}

.standard-tab.w--current {
  position: relative;
  background-color: transparent;
  color: #20355a;
}

.paragraph {
  max-width: 650px;
  margin-bottom: 30px;
  color: hsla(0, 0%, 100%, 0.78);
  font-size: 18px;
  line-height: 1.6;
}

.next-button {
  display: none;
  padding: 12px 32px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
  background-color: #5b3acc;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
  font-size: 15px;
}

.form-title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.error-message {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.success-message {
  padding: 50px;
  letter-spacing: 1px;
}

.previous-button {
  display: none;
  padding: 5px 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  color: #5b617c;
  font-size: 15px;
  text-indent: -2px;
}

.previous-button:hover {
  border-bottom-color: rgba(0, 0, 0, 0.55);
  opacity: 1;
}

.slider {
  position: relative;
  height: 100vh;
  min-height: 850px;
  background-color: transparent;
}

.form-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 560px;
  min-width: 490px;
  margin-bottom: -20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.submit-button {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 4px;
  background-color: #d5ff0a;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #fff;
}

.checkbox-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24%;
  height: 140px;
  min-width: 150px;
  margin-right: 6px;
  margin-left: 6px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-paragraph {
  max-width: 550px;
  margin-bottom: 10px;
  color: #9e9e9e;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.checkbox {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-left: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: 10px;
  opacity: 0;
  cursor: pointer;
}

.checkbox:active {
  border: 1px solid #000;
}

.form-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form-wrap.extra-space {
  margin-bottom: 40px;
}

.checkbox-base {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-style: solid;
  border-width: 1.2px;
  border-color: rgba(62, 52, 200, 0.1);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 35px 0 rgba(198, 211, 255, 0.28);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.checkbox-base:hover {
  padding-left: 30px;
  background-color: #ddd;
}

.slide {
  position: static;
  width: 100%;
  height: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 20px;
}

.form-section-title {
  margin-bottom: 12px;
  color: #fff;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
}

.form-full {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.checkbox-title {
  display: none;
  margin-bottom: 0px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #5b3acc;
  font-size: 14px;
}

.form-wrapper {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
}

.slide-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.slide-banner {
  width: 30%;
  min-width: 310px;
  background-color: #5b617c;
  color: #151c34;
}

.slide-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 100px 3%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1d1d1d;
}

.next-placeholder {
  display: none;
  overflow: visible;
  width: auto;
  height: 47px;
  max-width: 159px;
  margin: auto auto 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.previous-placeholder {
  display: none;
  width: auto;
  height: 35px;
  max-width: 100px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.previous-placeholder:hover {
  opacity: 1;
}

.banner-logo {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.08);
}

.banner-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
  padding: 25% 40px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.banner-h3 {
  margin-bottom: 20px;
  font-family: Circularstd, sans-serif;
  color: #fff;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.text-field {
  position: relative;
  min-height: 55px;
  margin-bottom: 0px;
  border: 1.3px solid #bec9d5;
  border-radius: 4px;
  font-size: 16px;
}

.text-field:focus {
  border-width: 1.3px;
  border-color: #007bfc;
}

.text-field::-webkit-input-placeholder {
  color: rgba(97, 114, 131, 0.46);
}

.text-field:-ms-input-placeholder {
  color: rgba(97, 114, 131, 0.46);
}

.text-field::-ms-input-placeholder {
  color: rgba(97, 114, 131, 0.46);
}

.text-field::placeholder {
  color: rgba(97, 114, 131, 0.46);
}

.field-label {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #617283;
  font-size: 15px;
  font-weight: 500;
}

.logo {
  margin-bottom: 40px;
}

.slider-right {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  background-color: #d5ff0a;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #000;
  font-size: 16px;
  text-align: center;
}

.slider-right:hover {
  padding-left: 25px;
  background-color: #fff;
  color: #000;
}

.help-block {
  position: absolute;
  left: auto;
  top: 15px;
  right: 15px;
  bottom: auto;
  padding: 20px;
}

.button-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.form-item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-item-wrapper.fixed-height {
  min-height: 160px;
  color: #fff;
}

.checkbox-icon {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75px;
  height: 75px;
  margin-right: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(91, 58, 204, 0.05);
}

.checkbox-text-wrapper {
  position: relative;
  z-index: 9;
  cursor: pointer;
}

.checkbox-h4 {
  margin-top: 0px;
  margin-bottom: 3px;
}

.checkbox-text {
  color: #5b617c;
  font-weight: 400;
}

.icon {
  width: auto;
}

.price-field {
  position: relative;
  min-height: 55px;
  margin-bottom: 0px;
  border: 1.3px solid #bec9d5;
  border-radius: 4px;
  font-size: 16px;
}

.price-field:focus {
  border-width: 1.3px;
  border-color: #007bfc;
}

.price-field::-webkit-input-placeholder {
  color: rgba(97, 114, 131, 0.46);
}

.price-field:-ms-input-placeholder {
  color: rgba(97, 114, 131, 0.46);
}

.price-field::-ms-input-placeholder {
  color: rgba(97, 114, 131, 0.46);
}

.price-field::placeholder {
  color: rgba(97, 114, 131, 0.46);
}

.text-block {
  font-family: Oswald, sans-serif;
  color: #5b617c;
  font-size: 100px;
  line-height: 20px;
  font-weight: 700;
}

.author-testimonial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.author-image {
  width: 50px;
  margin-right: 14px;
  border-radius: 100px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.author-name {
  margin-bottom: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.text-block-2 {
  color: #aaa;
}

.success-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding: 140px 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  color: #000;
}

.slide-counter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 20px;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.26);
}

.dot.active-dot {
  background-color: #d5ff0a;
}

.image-3 {
  width: 130px;
  margin-bottom: 35px;
}

.text-block-3 {
  max-width: 500px;
  color: #5b617c;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
}

.button {
  margin-top: 40px;
  padding: 18px 40px;
  border-radius: 3px;
  background-color: #d5ff0a;
  color: #000;
}

.star-row {
  margin-bottom: 30px;
}

.button-wrapper {
  position: relative;
}

.button-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  min-width: 150px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #8c54ff;
  background-image: linear-gradient(159deg, #8c54ff, #7b41f1);
  box-shadow: inset -1px -1px 3px 0 rgba(32, 27, 61, 0.6), inset 1px 1px 3px 0 rgba(238, 230, 255, 0.44), 1px 1px 2px 0 #5b3acc;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-menu:hover {
  box-shadow: inset 1px 1px 3px 0 rgba(32, 27, 61, 0.22), inset -1px -1px 3px 0 rgba(238, 230, 255, 0), 1px 1px 2px 0 #5b3acc;
}

.arrow-cta {
  position: absolute;
  left: -20%;
  top: auto;
  right: auto;
  bottom: -120%;
  width: 100px;
}

.follow-title {
  margin-bottom: 14px;
  font-family: Circularstd, sans-serif;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.notice {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #2e2a4d;
  color: hsla(0, 0%, 100%, 0.65);
  font-size: 15px;
  line-height: 23px;
}

.paragraph-intro {
  max-width: 650px;
  margin-bottom: 30px;
  color: hsla(0, 0%, 100%, 0.78);
  font-size: 16px;
  line-height: 1.6;
}

.text-span {
  color: #fff;
}

.flowbase-banner {
  height: 64px;
}

.body {
  background-color: #000;
}

.body-2 {
  color: #000;
}

.video {
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.selection-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.intent-selection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
}

.intent-selection:hover {
  padding-left: 20px;
}

.selection-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  min-width: auto;
  margin-right: 6px;
  margin-left: 6px;
  padding: 20px 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
}

.selection-icon {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 55px;
  margin-right: 25px;
  margin-left: 10px;
  padding: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(91, 58, 204, 0.05);
}

.image-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/freestocks-mw6Onwg4frY-unsplash.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.title {
  margin-bottom: 12px;
  color: #fff;
  font-size: 5rem;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  max-width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1000px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blur-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.button-green {
  width: 100%;
  max-width: 800px;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  background-color: #d5ff0a;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #000;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
}

.button-green:hover {
  padding-left: 30px;
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 991px) {
  .tab-button {
    width: 80px;
    height: 50px;
    padding: 7px;
    border-style: none;
    border-radius: 0px;
    background-color: #8c54ff;
  }

  .pricing-card {
    padding-right: 15px;
    padding-left: 15px;
  }

  .checkbox-base {
    height: auto;
    min-height: 100px;
  }

  .slide-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .slide-banner {
    display: none;
    width: 100%;
  }

  .slide-content {
    width: 100%;
    min-height: 100vh;
    padding-top: 140px;
    padding-bottom: 140px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .banner-logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .banner-content {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
  }

  .banner-h3 {
    font-size: 30px;
  }

  .author-testimonial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .author-image {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .standard-tab {
    width: 100%;
  }

  .form-content {
    width: 100%;
    min-width: auto;
  }

  .checkbox-base {
    min-height: 80px;
  }

  .form-wrapper {
    width: 100%;
  }

  .next-placeholder {
    position: fixed;
    z-index: 6;
  }

  .previous-placeholder {
    position: fixed;
    z-index: 6;
  }

  .help-block {
    top: 0px;
    right: 0px;
  }

  .form-item-wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .button-wrapper {
    display: none;
  }

  .title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 479px) {
  .slider {
    height: auto;
    min-height: 80vh;
  }

  .form-content {
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
  }

  .checkbox-base {
    margin-bottom: 15px;
  }

  .form-section-title {
    font-size: 1.5em;
    line-height: 1em;
  }

  .previous-placeholder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 75px;
  }

  .form-item-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flowbase-banner {
    display: none;
  }

  .flowbase-footer {
    background-image: none;
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: repeat-x;
  }

  .selection-container {
    padding: 12px;
  }

  .selection-text {
    font-size: 16px;
    line-height: 18px;
  }

  .title {
    font-size: 2em;
    line-height: 1.4em;
  }

  .blur-block {
    height: 100vh;
    max-height: 100vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Circularstd';
  src: url('../fonts/CircularStd-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Circularstd';
  src: url('../fonts/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Circularstd book';
  src: url('../fonts/CircularStd-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}